.create-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    min-height: 1000px;
    color: #39364F;
    letter-spacing: 0.5; 
}

.tab-navigation {
    list-style: none;
    background-color: #F8F7FA;
    padding-top: 60px;
    padding-left: 0px;
    width: 250px;
    // height: inherit;
    min-height: 900px;
    margin: 0;
    font-weight: 500;
    font-size: 16px;
}

.tab-navigation li {
    padding: 20px 0px 20px 60px;
    width: inherit;
}

.tab-navigation .selected {
    background-color: white;
}

.tab-content {
    padding: 0px 100px 50px 100px;
}

.form-slice {
    padding-bottom: 60px;
    width: inherit;
    border-bottom: 1px solid #e6e6e7;
}

.event-form h2 {
    color: #1E0A3C;
    font-size: 26px;
    letter-spacing: 1px;
    margin: 60px 0px 10px 0px;
}

.event-form h3 {
    font-size: 14px;
    font-weight: 100;
    margin: 4px;
}

.event-form i {
    opacity: 0.3;
}

.outer-selector {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0 1px #d7d7d8;
    border: 3px solid transparent;
    padding: 5px 15px 0px 15px;
    margin: 20px 10px 0px 10px;
    width: 400px;
    height: 50px;
    border-radius: 3px;
    transition: border 0.2s;
    color: #6F7287;
    font-size: 12px;
    &:hover {
        box-shadow: 0 0 0 1px #959596;
        transition: box-shadow 0.2s;
    }
    &:focus-within {
        box-shadow: none;
        transition: box-shadow 0.2s;
        border: 3px solid #365AE4;
        transition: border 0.2s;
    }
}

.text-input {
    margin-top: 5px;
    outline: none;
    border: white;
    font-size: 14px;
    resize: none;
    font-family: inherit;
    &:focus {
        outline: none;
    }
}


#category {
    width: inherit;
    height: inherit;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border: white;
    color: #39364F;
    background-color: white;
    &:focus {
        outline: 0;
    }
}

.time-flex {
    display: flex;
}

.time-selector {
    width: inherit;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border: white;
    color: #39364F;
    background-color: white;
    &:focus {
        outline: 0;
    }
}

.create-container button {    
    font-family: inherit;
    border: 0;
    outline: none;
    padding: 15px 0px 15px 0px;
    background-color: #D1410c;
    transition: background-color 0.5s;
    border-radius: 4px;
    font-weight: 400;
    color: white;
    min-width: 370px;
    margin: 40px 0px 40px 0px;
    &:hover {
        cursor: pointer;
        background-color: #f55b23;
        transition: background-color 0.5s;
        transition-timing-function: ease-out;
    }
}

.outer-desc-selector {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0 1px #d7d7d8;
    border: 3px solid transparent;
    padding: 5px 15px 0px 15px;
    margin: 20px 10px 0px 10px;
    width: 600px;
    height: 350px;
    border-radius: 3px;
    transition: border 0.2s;
    color: #6F7287;
    font-size: 12px;
    &:hover {
        box-shadow: 0 0 0 1px #959596;
        transition: box-shadow 0.2s;
    }
    &:focus-within {
        box-shadow: none;
        transition: box-shadow 0.2s;
        border: 3px solid #365AE4;
        transition: border 0.2s;
    }
}

.outer-desc-selector textarea {
    height: inherit;
}

.upload-file {
    margin-top: 20px;
    font-family: inherit;
}

.event-form .errors {
    padding: 5px 0px 0px 10px;
}

#publish {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.loader {
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid #365AE4; /* Blue */
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}