// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// .grid-container {
//     display: inline-grid;
//     grid-gap: 25px;
//     width: 100%;
//     grid-template-columns: auto auto auto;
//     justify-content: center;
//     align-content: flex-start;
//     margin-top: 200px;
//     margin-bottom: 75px;
// }

// .grid-item {
//     font-family: 'Roboto', sans-serif;
//     width: 250px;
//     height: 300px;
//     text-align: center;
//     box-shadow: 0 3px 4px rgba(0, 0, 0, .1);
// }

.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: inherit;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 75px;
}

.grid-item {
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    width: 250px;
    height: 300px;
    text-align: center;
    box-shadow: 0 3px 4px rgba(0, 0, 0, .1);
}

.text {
    display: flex;
    flex-direction: column;
}

#event-date {
    font-weight: 400;
    font-size: 12px;
    color: #D03E09;
}

.promo {
    width: inherit;
}

#event-title {
    font-weight: 700;
    font-size: 14px;
    color: #39364F;
}

