.clip-promo-blur {
  overflow: hidden;
  width: 100%;
  max-height: 600px;
}

.promo-blur {
  margin: -50px -5px 0px -10px;
  width: 110%;
  filter: blur(15px);
  opacity: 80%;
}

.clip {
  width: 100%;
  min-height: 500px;
 }

.event-show {
    position: absolute;
    top: 100px;
    width: 1100px;
    height: 80%;
    margin: 20px;
    border-radius: 10px;
    z-index: 4;
    font-family: 'Roboto', sans-serif;
    color: #2e2a35;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .05);
}

.es-top {
    display: flex;
    flex-direction: row;
    background-color:#F5F0EF;
    border-radius: 5px 5px 0px 0px;
}

.show-promo {
    height: 360px;
    width: 720px;
    object-fit: cover;
    margin: 0;
    border-radius: 5px 0px 0px 0px;
}

.event-intro {
    width: 360px !important;
    height: 360px;
    border-radius: 0px 5px 0px 0px;
}

.event-intro-textbox {
    height: inherit;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.event-intro-textbox > h1 {
    font-size: 24px;
    font-weight: 400;
}

h2 .show-date {
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

.event-intro-textbox > h3 {
    color: #6F7287;
    font-weight: 100;
    font-size: 16px;
    margin-top: 0px;
}



.es-register {
    height: 70px;
    width: inherit;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 2px solid #DBDAE3;
    border-bottom: 2px solid #DBDAE3;
    // padding: 5px;
}

.es-register button {
    border: 0;
    outline: none;
    padding: 15px 0px 15px 0px;
    background-color: #0E8548;
    transition: background-color 0.5s;
    border-radius: 4px;
    font-weight: 400;
    color: white;
    font-size: 16px;
    width: 320px;
    margin: 10px;
    &:hover {
        background-color: #17a85d;
        transition: background-color 0.5s;
    }

}

.es-register > .fa-heart {
    display: block;
    font-size: 26px;
    color: #4B4D63;
    font-weight: 500;
    padding: 12px 10px 0px 10px;
    height: 38px;
    margin: 10px;
    border-radius: 50%;
    transition: background-color 0.5s;
    &:hover {
        transition: background-color 0.5s;
        background-color: #F8F7FA;
    }
}

.es-body {
    display: flex;
    flex-direction: row;
    background-color: white;
}

.es-body-L {
    width: 720px;
    padding: 10px;
    padding: 60px 100px 60px 100px;
}
.es-body-R {
    width: 360px;
    padding: 60px 20px 60px 0px;
}

// .clip-promo-blur {
//     display: flex;
//     flex-direction: column;
//     width: 100%;
//     height: 430px;
// }
// .promo-blur {
//     margin-top: 25px;
//     overflow: hidden;
//     // width: 100%;
//     // height: 430px;
//     object-fit: cover;
//     background-size: cover;
//     filter: blur(15px);
//     z-index: 0;
//     transform: scale(1.1); 
//     opacity: 0.95;
// }
// .clip {
//     margin: 0;
//     width: inherit;
//     min-height: 400px;
//     z-index: 2;
//     background-color: #F5F0EF;
// }
