.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    // position: absolute !important;
    z-index: 2;
    background-color: rgba(255,255,255,1);
    // left: 0;
    // top: 0;
    width: 100%;
    box-sizing: border-box;
}

.logo {
    padding-top: 10px;
}

.signin {
    color: #2e2a35;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    padding: 30px 20px 30px 20px;
}

.signin:hover {
    // display: block;
    background-color: #F8F7FA;
}



//////////LOGGED IN NAV

.nav-bar div {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    // display: inline;
}

.link {
   text-decoration: none;
    color: #39364F;
   font-weight: 400;
   margin-top: 10px;
}

.link-selector {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    // padding: 30px 15px 30px 15px;
    &:hover {
        background-color: #F8F7FA;
        cursor: pointer;
   }
}

#create-event {
    color: #3659E3;
}

.fa-ticket-alt {
    transform: rotate(90deg);
}
//////////SEARCHBAR 

.search {
    padding: 20px;
    background-color: #F8F7FA;
    width: 250px;
    opacity: 0.5;
}

// .search-bar {
//     background-color: #F8F7FA;
//     width: 250px;
//     opacity: 0.5;
// }

.search-input {
    border: hidden;
    outline: none;
    background-color: #F8F7FA;
}

//////////DROPDOWN 

.dropdown-trigger {
    position: relative;
    display: block;
    padding: 10px;
    width: 60px;
    &:hover {
       background-color:  #F8F7FA;
       cursor: pointer;
    }
    &:hover .dropdown-list {
        display: block;
    }
    &:hover .dropdown-list:hover {
       background-color:  #F8F7FA;
    }
}

.fa-user-circle {
    font-size: 25px;

}

.dropdown-icon {
    position: absolute;
    top: 15px;
    right: 25px;
    color: #39364F;
    align-self: center;
    justify-self: center;
    display: inline;

    padding: 10px 10px 10px 10px;
    border-radius: 50%;
    background-color:  #F8F7FA;
}

.dropdown-list {
    display: none;
    background-color: rgba(255,255,255,1);
    position: absolute;
    z-index: 5;
    padding: 0px;
    margin: 0px;
    top: 82px;
    right: 0px;
    width: 250px;
    height: 75px;
    box-shadow: 2px -1px 10px rgba(0, 0, 0, .05);
    &:hover {
        cursor: pointer;
    }
}

.logout {
    display: block;
    text-decoration: none;
    color: #2e2a35;
    font-weight: bold;
    margin: 10px;
    padding: 15px;
    white-space: nowrap;
    transition: .5s background-color;
    &:hover {
        cursor: pointer;
    }
}
