.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    font-family: 'Roboto', sans-serif;
     list-style-type: none;
    margin: 0;
    padding: 0;
      overflow: hidden;

}

.nav-bar li {
    //display: inline;
    float: left;
    padding: 30px 15px 30px 12px;
    justify-content: space-between;
}

li Link {
    text-align: center;
  padding: 14px 16px;
      text-decoration: none;
}

li Link:hover {
    background-color: #ebeaee;
}

.signin {
    color: #2e2a35;;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    position: fixed;
    right: 0;
}

.logo {
    padding: 20px 12px 30px 10px;
}
.signin:hover {
    background-color: #ebeaee;
}