.modal-contents {
    display: flex;
    height: 100%;
    width: 100%;
}

.modal-L {
    display: flex;
    flex-direction: column;
    // width: 60%;
}

.modal-R {
    width: 100%; //not sure what this inherits from or why this works?
    background-color: #eeedf2;
}

.modal-header {
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding: 14px 20px;
}

.modal-header h1 {
    font-size: 18px;
    font-weight: 400px;
    letter-spacing: 0.5px;
}

.modal-header h3 {
    font-size: 12px;
    color: rgb(153, 153, 153);
    font-weight: 400;
}

.modal-body {
 height: 360px;
    padding: 26px 22px;
    font-size: 15px;
    line-height: 22px;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 75px;
    border-top: 1px solid lightgray;
}

.modal-footer button {
    font-family: inherit;
    border: 0;
    outline: none;
    padding: 15px 0px 15px 0px;
    background-color: #D1410c;
    transition: background-color 0.5s;
    border-radius: 4px;
    font-weight: 400;
    color: white;
    min-width: 150px;
    margin: 10px;
    &:hover {
    cursor: pointer;
        background-color: #f55b23;
        transition: background-color 0.5s;
        transition-timing-function: ease-out;
  }
}

.modal-promo {
   object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 170px;
}

.fa-times {
    font-size: 24px;
    padding: 6px 8px 6px 8px;
    border-radius: 50%;
    background-color: white;
    text-align: right;
    align-self: flex-end;
    justify-self: flex-end;
    &:hover {
        cursor: pointer;
    }
}