// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-header {
    font-size: 24px;
    font-weight: 700;
}

.session-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.session-form button {
    background-color: #D1410c;
    color: white;
    min-width: 165px;
    margin: 10px;
}


// HOW TO: https://itnext.io/how-to-build-a-floating-label-input-field-f9b21669fe2f#:~:text=Labels%20provide%20accessibility%20and%20focus,for%20attribute%20to%20the%20label.&text=Without%20styling%2C%20the%20label%20will,be%20inside%20the%20input%20field.

//div container
.float-label {
  border: solid 1px #ccc;
  padding: 0 8px 0 8px;
  position: relative;
  border-radius: 3px;
  min-width: 450px;
  width: 30%;
  align-items: center;
}

.float-label > input {
  border: none;
  font-size: 16px;
  outline: 0;
  padding: 30px 0 10px;
  border-radius: 10px;
}

//Email address
label {
    display: flex;
    flex-direction: column;
    margin: 0;
    // margin-bottom: 15px;
    font-size: 12px;
    color: grey;
    position: absolute;
    transform-origin: top left;
    transform: translate(0, 16px) scale(1);
    transition: all .1s ease-in-out;
}

.float-label.active label {
  transform: translate(0, 4px) scale(.75);
}
