// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.form-header {
    font-size: 26px;
    letter-spacing: 0.5px;
    color: #1E0A3C;
    font-weight: 700;
}

.session h3 {
    color: #6f7287;
    // font-size: 18px;
    font-size: 14px;
    font-weight: 400;
}

p {
    color: #39364f;
    font-size: 14px;
    margin: 3px 0 3px 0;
}


.session-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.session-form button {
    font-family: inherit;
    border: 0;
    padding: 15px 0px 15px 0px;
    background-color: #D1410c;
    transition: background-color 0.5s;
    border-radius: 4px;
    font-weight: 400;
    color: white;
    min-width: 370px;
    margin: 10px;
}

.session-form button.demo {
    background-color: #0080ff;
}
.session-form button.demo:hover {
    cursor: pointer;
    background-color: #349aff;
    transition: background-color 0.5s;
    transition-timing-function: ease-out;
}

.session-form button:hover {
    cursor: pointer;
    background-color: #f55b23;
    transition: background-color 0.5s;
    transition-timing-function: ease-out;
}

.session-form #login-redirect {
    text-decoration: none;
    border: none;
    outline: none; 
    background-color: transparent;
    font-size: 14px;
    color: #0080ff;
}

// HOW TO: https://itnext.io/how-to-build-a-floating-label-input-field-f9b21669fe2f#:~:text=Labels%20provide%20accessibility%20and%20focus,for%20attribute%20to%20the%20label.&text=Without%20styling%2C%20the%20label%20will,be%20inside%20the%20input%20field.

//div container
.float-label {
  border: solid 1px #ccc;
  transition: border 1s;
  padding: 0 8px 0 8px;
  margin: 10px;
  position: relative;
  border-radius: 3px;
  min-width: 350px;
//   width: 30%;
  align-items: center;
  &:hover {
      border: solid 1px rgb(150, 149, 149);
      transition: border 0.5s;
      transition-timing-function: ease-out;
  }
}

.error-label {
  border: 2px solid rgb(184, 7, 7);
  transition: border 1s;
  padding: 0 8px 0 8px;
  margin: 10px;
  position: relative;
  border-radius: 3px;
  min-width: 350px;
  width: 30%;
  align-items: center;
}

input:focus + label {
    color: #0066cc;
}
//CANT GET THE BORDER TO CHANGE TO BLUE :(
input:focus + #floatLabel {
    border: solid 3px #0066cc;
    transition: border 0.5s;
    transition-timing-function: ease-out;
}

.session-form input {
  border: none;
  color: #39364f;
  font-size: 14px;
  outline: 0;
  padding: 20px 0 10px;
  border-radius: 10px;
  width: 350px;
  margin-top: 4px;
}

#floatLName {
    width: 150px;
}
#floatFName {
    width: 150px;
}

//Email address
label {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    margin-left: 4px;
    // margin-bottom: 15px;
    font-size: 13px;
    color: grey;
    position: absolute;
    top: 0;
    // transform-origin: top left;
    // transform: translate(0, 16px) scale(1);
    // transition: all .1s ease-in-out;
}

// .float-label.active label {
//   transform: translate(0, 4px) scale(.75);
// }

.name {
    display: flex;
    flex-direction: row;
}

.float-name {
  border: solid 1px #ccc;
  padding: 0 8px 0 8px;
  margin: 0px 8px 0px 8px;
  position: relative;
  border-radius: 3px;
  min-width: 160px;
  width: 30%;
  align-items: center;
  &:hover {
      border: solid 1px rgb(150, 149, 149);
      transition: border 0.5s;
      transition-timing-function: ease-out;
  }
}

.float-name > input {
  border: none;
  font-size: 14px;
  outline: 0;
  padding: 20px 0 10px;
  border-radius: 10px;
}

.e {
    height: 70px;
}

.user-icon {
    height: 50px;
}

.errors {
    font-weight: 100;
    color: rgb(184, 7, 7);
    align-items: left;
    list-style: none;
}

.name-errors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    width: 350px;
}

//need some type of disabled styling
// #disabled {
//   border: solid 1px #ccc;
//   background-color: #ccc;
//   color: lightgray;
//   padding: 0 8px 0 8px;
//   margin: 10px;
//   position: relative;
//   border-radius: 3px;
//   min-width: 350px;
//   width: 30%;
//   align-items: center;
// }